---
Checks:
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-assignment-in-if-condition,
  clang-*,
  -clang-analyzer-core.FixedAddressDereference,
  -clang-diagnostic-unused-command-line-argument,
  misc-*,
  -misc-include-cleaner,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
HeaderFileExtensions:
  - ''
  - h
  - hpp
ImplementationFileExtensions:
  - cpp
FormatStyle: file
CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  bugprone-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion: false
  readability-function-size.LineThreshold: 100
SystemHeaders: false
...
